<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<%= content_tag :div, class: :row, data: {"list-channel-id": @list.id, controller: 'list-channel draggable'} do %>
	<% @list.columns.each do |column|%>
		<div class="col">
			<div class="card">
				<h5 class="card-title"><%= column.name %></h5>
				<div class="card-body">
					<%= content_tag :ul, class: 'card-text dropzone', id: dom_id(column), data: {id: column.id,  target: 'draggable.column'} do %>
						<%= render column.items, list: @list, column: column %>
					<% end %>
				</div>
				<%= link_to "New item", [:new, @list, column, :item ]%>
			</div>
		</div>
	<% end %>
<% end %>

<%= link_to "New column", [:new, @list, :column] %> |
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<br>
<br>

<%= form_with url: [@list, :collaborator], local: true do |form| %>
  <%= form.text_field :email %>
  <%= form.submit 'Invite Collaborator' %>
<% end %>

<%# link_to "Leave List", [@list, :collaborator], method: :delete if current_user.company_id != @list.company_id %>
<%= link_to "Leave List", [@list, :collaborator], method: :delete if current_user.invited_to_list?(@list) %>
