<%= form_with(model: [list, column, item], local: true) do |form| %>
  
  <div class="fields">
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
