<%= content_tag :li, id: dom_id(item), data: { target: 'draggable.item',
                                               id: item.id,
                                               url: list_column_item_path(list, column, item) } do %>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <%= item.content %>
      </p>
      <%= link_to 'delete', [list, column, item], method: :delete %>
    </div>
  </div>
<% end %>