<!DOCTYPE html>
<html>
  <head>
    <title>TrelloApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to "Home", root_path %> |
      <%= link_to "Lists", lists_path %> |
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
        <%= link_to "Sign In", new_user_registration_path %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
